.products {
    margin: 4rem auto;
}

label, select, option {
    font-size: 1.25rem;
}

select, option {
    padding: 0 1rem;
}

.grid {
    display: flex;
    flex-direction: column;
}

.products .spacing {
    margin: 0 2rem;
}

.card {
    margin: 2rem;
    display: flex;
    gap: 1rem;
}

.card img {
    width: 250px;
    height: 250px;
}


.card-content {
    display: flex;
    flex-direction: column;
}