body {
  margin: 0;
  padding: 0;
  background-color: #f5eec8;
}

.margin-page {
  padding: 70px 0 0 0;
}


.homepage-cats {
  width: 1000px;
  height: 950px;
  transform: translate(-60px,-180px);
  pointer-events: none;
  z-index: 1;


}

.selfpromo-cat {
  width: 450px;
  height: 450px;
  transform: translate(30px, 220px);
  pointer-events: none;
  position: absolute;
  z-index: -1;
}

/*Importing custom font*/
@font-face {
  font-family: Hatchway;
  src: url(./HTML-graphics/hatchway.ttf)
}

h2 {
  text-align: center;
  color: #5D5C59;
  font-family: "Hatchway";
  font-size: 60px;
  text-transform: uppercase;
  z-index: -1;
}

h1 {
  text-align: right;
  color: #5D5C59;
  font-family: "Hatchway";
  font-size: 90px;
  text-transform: uppercase;
  transform: translate(930px, 320px);
  position: absolute;
  z-index: -1;
}

.button {
  text-decoration: none;
  text-align: center;
  background-color: #FA5F55;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 6px 2px 6px 2px;
  border: 5px 5px 5px 5px;
  border-radius: 25px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 1600px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#f5eec8;
  border-bottom: 3px solid rgba(205, 196, 161, 0.673);
}

.nav__logo {
  position: absolute;
  left: 46%;
  top: -15%;
}

.nav__logo img {
  display: block;
  width: 150px;
  height: 150px;
}

.nav__menu ul {
  display: flex;
}

.nav__menu ul li {
  list-style: none;
}

.nav__menu ul li a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Hatchway";
  font-size: 27px;
  font-weight: 10px;
  letter-spacing: 0.5px;
  top: 6px;
  color: #5D5C59;
  display: inline-block;
  padding: 0.5rem;
}

/*Underline animation*/
.nav__menu ul li a:after {
  content: "";
  position: absolute;
  background-color: #5D5C59;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 5px;
  transition: 0.3s;
}

.nav__menu ul li a:hover:after {
  width: 100%;
}

.nav__menu ul li:nth-child(1) {
  margin-left: 100px;
  padding-right: 70px;
}

.nav__menu ul li:nth-child(2) {
  margin-left: 150px;
  padding-right: 70px;
}

.nav__hamburger {
  width: 1.875rem;
  height: 1.313rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}

/*Hamburger to Cross Animation*/
.nav__hamburger__line {
  height: 0.2rem;
  width: 100%;
  background-color: #5D5C59;
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 550px) {
  .nav__hamburger {
    display: flex;
  }
  .nav__menu {
    position: absolute;
    display: flex;
    align-items: center;
    top: -10rem;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__menu ul {
    flex-direction: column;
    width: 100%;
    padding: 3rem 0 0.6rem;
  }
  .nav__menu ul li {
    text-align: center;
    transition: color 0.3s ease;
  }

  .nav__menu ul li a {
    padding: 0.5rem;
  }
  .nav__menu {
    z-index: 1;
  }
  .nav__menu.active {
    top: 0;
  }
  .nav__hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav__hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }

  .nav__menu ul li:nth-child(1) {
  margin-left: 0;
  }

.nav__menu ul li:nth-child(2) {
  margin-left: 0;
  }

}




