.products {
    margin: 4rem auto;
}

label, select, option {
    font-size: 1.25rem;
}

select, option {
    padding: 0 1rem;
}

.grid {
    display: flex;
    flex-direction: column;
}

.products .spacing {
    margin: 0 2rem;
}

.card {
    margin: 2rem;
    display: flex;
    gap: 1rem;
}

.card img {
    width: 20%;
    height: 20%;
}


.card-content {
    display: flex;
    flex-direction: column;
    font-family: "Hatchway";
    font-size: 30px;
    color: #5D5C59;
}

.card-content h4 {
    text-transform: uppercase;
    font-size: 2.5vw;
}

.card-content p {
    position: absolute;
    margin: 15vh 0 5vh 0;
}

label {
    font-size: 1.5vw;
}

.filters {
    font-family: "Hatchway";
    font-size: 1vw;
    text-transform: uppercase;
    color: #5D5C59;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    margin: 20px 40px 0 0;
}


