.flipbook-container {
    display: block;
    place-content: center;
    position: relative;
}

.flipbook {
    width: 92vw;
    height: 100vh;
    position: absolute;
    right: -4vw; 
    top: 4.5vh;
}

.flipbook .hard {
    background: #9e8f71 !important;
    border: none;
    font-size: 3vw;
    text-align: center;
    color: #f5eec8;
}

.flipbook .hard img {
    width: 200%;
    height: 200%;
}


.flipbook .page {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(0,0,0,0.11);
}

.flipbook .page small {
    font-size: 14px;
    margin-bottom: 10px;
}

.page-content {
    margin: 2vh 2vw 2vh 2vw;
}


