/*Importing custom font. Done with reference to W3Schools webpage: https://www.w3schools.com/css/css3_fonts.asp*/
@font-face {
  font-family: Hatchway;
  src: url(../HTML-graphics/hatchway.ttf)
}

/* Create a simple fade transition effect between webpages*/
@view-transition {
  navigation: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hatchway";
  background-color: #f5eec8;
  text-transform: uppercase;
  color: #5D5C59;
  width: 100%;
  height: 100%;
}

.margin-page {
  padding: 70px 0 0 0;
}


.homepage-cats {
  width: 65%;
  height: 138%;
  pointer-events: none;
  position: absolute;
  z-index: 3;
  left: -4%;
  bottom: -22%;


}

.selfpromo-cat {
  width: 30%;
  height: 67%;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  left: 20%;
  bottom: 2%
}


h3 {
  font-size: 3vw;
}

h2 {
  text-align: center;
  font-size: 4vw;
  z-index: -1;
  margin-top: 6%
}

h1 {
  text-align: right;
  font-size: 6vw;
  position: absolute;
  right: 6%;
  bottom: 3%;
  z-index: -1;
}

p {
  font-size: 1.5vw;
  text-transform: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.events-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.event-text {
  width: 45%;
}

.event-img {
  margin: 3% 3% 6% 3%;
  width: 50vw;
  height: 70vh;
}

.event-left {
  display: flex;
  text-align: left;
  padding-left: 3%; 
}

.event-right {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding-right: 3%;
}

.event-left .event.image {
  justify-self: end;
}

.event-right .event.image {
  justify-self: start;
}

hr {
  border: none;
  border-top: 0.5vh solid rgba(205, 196, 161, 0.673);
  width: 95%;  
}

.button {
  background-color: #b2a387;
  padding: 0.6vw 20vh 0.6vw 20vh;
  font-family: "Hatchway";
  color: #f5eec8;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-left: 10px;
  border-radius: 25px;
  height: 4.5vh;
  width: 17vw;
  font-size: 1.7vw;
  margin-top: 7.5%
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#f5eec8;
  border-bottom: 0.5vh solid rgba(205, 196, 161, 0.673);
  z-index: 2;
}

.nav__logo {
  position: absolute;
  left: 46%;
  align-content: center;
}

.nav__logo img {
  display: block;
  width: 20%;
  height: 20%;
}

.nav__menu ul {
  display: flex;
}

.nav__menu ul li {
  list-style: none;
}

.nav__menu ul li a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Hatchway";
  font-size: 2vw;
  font-weight: 10px;
  letter-spacing: 0.5px;
  top: 6px;
  color: #5D5C59;
  display: inline-block;
}

/*Underline animation was created and slightly adjusted in terms of apearance using guidance from the Navigation bar tutorial: https://www.youtube.com/watch?v=G4LYPf8isVg&list=PLhpxwROmcMKqOl3D9Frbd4cNEuvcaJVVz&index=9*/
.nav__menu ul li a:after {
  content: "";
  position: absolute;
  background-color: #5D5C59;
  border-radius: 4px;
  height: 12%;
  width: 0;
  left: 0;
  bottom: 3%;
  transition: 0.4s;
}

.nav__menu ul li a:hover:after {
  width: 100%;
}


.nav__menu ul li:first-child {
    margin-left: 6vw;
}

.nav__menu ul li:nth-child(2) {
    margin-left: 17vw;
}

.nav__menu ul li:nth-child(3) {
    margin-left: 3vw;
}






